# Ignore Python virtual environment
.pyenv
*.pyc
__pycache__/
uploads/*
tmp/*
vivado_logs/*
# Ignore logs
*.log

# Ignore system files
.DS_Store
flashpro_logs/*
*.Xil
*.jou
tile_wjtag_webserver/tcl/*
tile_wjtag_webserver/tcl_proasic/logged/*
tile_wjtag_webserver/tcl_proasic/fp_projects_log/*
*.bit
*.bin
*.ltx
*.rbt
